<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<script type="text/javascript">
angular.module("loginApp", [])
.controller("loginCtrl", function ($scope, $http, $window) {
    $scope.login = {};

    $scope.login.submit = function () {
        $http({
            method: 'POST',
            url: '/login',
            params: {
                redirect_to: {{redirect_to|tojson}}
            },
            data: {
                email: $scope.login.email
            }
        }).success(function () {
            $window.location.href = {{redirect_to|tojson}};
        });
    };

});
</script>
<body ng-app="loginApp">
    <form name="loginForm" ng-submit="login.submit()" ng-controller="loginCtrl" class="center" style="width:50%">
        <div class="form-group">
            <label>User Email: </label>
            <input type="email" name="email" class="form-control" ng-model="login.email" required>
            <i class="text-danger"
                  ng-show="loginForm.email.$dirty && loginForm.email.$error.required">Email is required</i>
        </div>
        <button type="submit" ng-disabled="loginForm.$invalid || login.loading" class="btn btn-primary">LOGIN</button>
    </form>
</body>
</html>