<!DOCTYPE html>
<html lang="en" ng-app="docApp">
<head>
    <title>Main</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/controller.js"></script>
    <script type="text/javascript" src="/static/js/directive.js"></script>
    <script type="text/javascript" src="/static/js/service.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>

<body ng-controller="mainCtrl">
    <h2><center>Input</center></h2>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <!--div doc-list list="user.documents" email="user.email"></div-->
            <div ui-view="list"></div>
        </div>
        <div ng-class="docWidth()">
            <div ui-view="main"></div>
        </div>
        <div ng-class="historyWidth()">
            <div ng-show="showHistory">
                <div doc-history></div>
            </div>
        </div>
    </div>
</body>
</html>