<!DOCTYPE html>
<html lang="en" ng-app="socketApp">
<head>
    <title>Main</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/socketio.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>
<script>
    angular.module('socketApp', ['socket.io'])
    .config(['$socketProvider', function($socketProvider) {
        $socketProvider.connect('/test_text');
    }])
    .controller('socketCtrl', ['$scope', '$socket', function($scope, $socket){
        $scope.$watch('text', function (newVal, oldVal) {
            if (newVal !== oldVal && !!newVal) {
                $socket.emit("update_text", {text: $scope.text});
            }
        });
        $socket.on("update_text", function (data) {
            $scope.serverMessage = data.text;
        });
    }]);
</script>
<body style="padding:20px" ng-controller="socketCtrl">
    <h2><center>Web Socket Test Page</center></h2>
    <p><center>login is not required</center></p>
    <hr>
    <textarea rows="10" ng-model="text" class="form-control"></textarea>
    {{serverMessage}}
    <hr>
    <div class="well">
        <p><span ng-bind="serverMessage"></span></p>
    </div>
</body>
</html>